<!DOCTYPE html>
<html lang="en">
<body>
	<head>
		<link href="style.css" rel="stylesheet">
	</head>
<!-- 	<audio class = "note" id="audio0" src="/guitar/Plastic Nylon Guitar_bip_0.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio1" src="/guitar/Plastic Nylon Guitar_bip_1.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio2" src="/guitar/Plastic Nylon Guitar_bip_2.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio3" src="/guitar/Plastic Nylon Guitar_bip_3.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio4" src="/guitar/Plastic Nylon Guitar_bip_4.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio5" src="/guitar/Plastic Nylon Guitar_bip_5.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio6" src="/guitar/Plastic Nylon Guitar_bip_6.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio7" src="/guitar/Plastic Nylon Guitar_bip_7.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio8" src="/guitar/Plastic Nylon Guitar_bip_8.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio9" src="/guitar/Plastic Nylon Guitar_bip_9.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio10" src="/guitar/Plastic Nylon Guitar_bip_10.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio11" src="/guitar/Plastic Nylon Guitar_bip_11.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio12" src="/guitar/Plastic Nylon Guitar_bip_12.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio13" src="/guitar/Plastic Nylon Guitar_bip_13.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio14" src="/guitar/Plastic Nylon Guitar_bip_14.mp3" type="audio/mp3"></audio>
	<audio class = "note" id="audio15" src="/guitar/Plastic Nylon Guitar_bip_15.mp3" type="audio/mp3"></audio>   
	<audio class = "note" id="audio16" src="/guitar/Plastic Nylon Guitar_bip_16.mp3" type="audio/mp3"></audio>         -->


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
	<script src="tones.js"></script>
	<script src="jqueries.js"></script>
	<div id="container">
		<div id="play">&#x25b6;</div>
		

	</div>
</body>
</html>