<!DOCTYPE html>
<html lang="en">
<body>
	<head>
		<link href="style.css" rel="stylesheet">
	</head>
    <script src="socket.io/socket.io.js"></script>
    <script src="event-emitter.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
	<script src="events.js"></script>
	<script src="tones.js"></script>
	<script src="jqueries.js"></script>
	<div id="horizHolder">
		<div id="piano">
			<div class="key black"></div><div class="key"></div><div class="key black"></div><div class="key"></div><div class="key"></div><div class="key black"></div><div class="key"></div><div class="key black"></div><div class="key"></div><div class="key black"></div><div class="key"></div><div class="key"></div><div class="key black"></div><div class="key"></div><div class="key black"></div><div class="key"></div>
		</div>
		<div id="container">
		</div>
	<div id="controls"><div class="button" id="play">play</div><div class="button"id="clear">clear</div></div>
	</div>
</body>
</html>