body{
	background: #222;
	background-image: url(dark_geometric/dark_geometric.png);
    background-repeat: repeat;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 8pt;
	color: white;
	margin: 20px;
}
#horizHolder{
	margin: auto;
	width: 570px;
	display: flex;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;

}
#container{
	width: 480px;
	height: 480px;
}
#controls{
	margin-left: 6px;
}
#piano{
	width: 15px;
}
.box{
	box-sizing: border-box;
	width: 6.25%;
	height: 6.25%;
	border: 1px solid blue;
	display: inline-block;
	cursor: none;
	background: #006;
}
.box:hover{
	border: 1px solid cyan;
}
.key{
	box-sizing: border-box;
	width: 15px;
	height: 30px;
	background: white;
	border: 1px solid black;

}

.selected{
	background-color: #066;
}

.playing{
	background-color: #33f;
}

.playingAndSelected{
	background-color: #F3F;
}

.button{
	color: white;
	text-align: center;
	height: 20px;
	width: 60px;
	padding-top: 4px;
	justify-content: space-between;
	border: 1px solid grey;
	border-radius: 3px;
	cursor: pointer;
	margin: 3px 0px;
	transition: .1s;
}
.button:hover{
	border-color: white;
}

.leftHard{
	border-left: 1px solid cyan;
}

.black{
	background: black;
}
#nick{
	position: absolute;
	bottom: calc(0% + 15px);
	padding: 5px;
}

#people{
	position: absolute;
	top: calc(0% + 15px);
	padding: 5px;
}

a{
	color: grey;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bpm{
	margin: 3px 2px;
	width: 48px;
	font-family: "Lucida Console", Monaco, monospace;
}

input{
	width: 60px;
}

.label{
	padding: 3px;
}