body{
	background: #222;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 8pt;
	color: white;
	display: flex;
	margin: 20px;
	justify-content: center;
}
#horizHolder{
	/*background: blue;*/
	/*margin: auto;*/
	display: inline-flex;

}
#container{
	display: inline-block;
	align-self: center;
	width: 480px;
	height: 480px;
}
#controls{
	display: flexblock;
	justify-content: center;
	margin-bottom: 4px;
}
#piano{
	display: inline-block;
	width: 15px;
}
.box{
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border: 1px solid blue;
	display: inline-block;
	cursor: pointer;
	background: #006;
	/*background: linear-gradient(#00A,#006);*/
}
.key{
	box-sizing: border-box;
	width: 15px;
	height: 30px;
	background: white;
	border: 1px solid black;

}

.selected{
	background-color: #066;
}

.playing{
	background-color: #33f;
}

.playingAndSelected{
	background-color: #F3F;
}

.button{
	display: flex;
	color: white;
	height: 20px;
	width: 55px;
	padding-top: 4px;
	justify-content: center;
	border: 1px solid grey;
	border-radius: 3px;
	cursor: pointer;
	margin: 2px;
}
.button:hover{
	border-color: white;
}

.leftHard{
	border-left: 2px solid cyan;
}

.black{
	background: black;
}

.label{
	padding: 3px;
}